<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Pizzamanía</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
    <h1>Diseña tu pizza!</h1>
    <img th:src="@{/images/pizza.jpg}">
    <form method="post" th:object="${pizza}">
        <div class="grid">
            <div class="ingredient-group" id="quesos">
                <h3>Designa el queso:</h3>
                <div th:each="ingredient : ${queso}"> 
                  <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                  <span th:text="${ingredient.name}">INGREDIENTE</span><br/>
                </div>          
            </div>
            <div class="ingredient-group" id="proteins">
                <h3>Escoge tu proteína:</h3>
                <div th:each="ingredient : ${proteina}">
                  <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                  <span th:text="${ingredient.name}">INGREDIENTE</span><br/>
                </div>          
            </div>
            <div class="ingredient-group" id="cheeses">
                <h3>Elige tu vegetal:</h3>
                <div th:each="ingredient : ${vegetal}">
                  <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                  <span th:text="${ingredient.name}">INGREDIENTE</span><br/>
                </div>          
            </div>
            <div class="ingredient-group" id="veggies">
                <h3>Determina tu extra:</h3>
                <div th:each="ingredient : ${extra}">
                  <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                  <span th:text="${ingredient.name}">INGREDIENTE</span><br/>
                </div>          
            </div>
            <div class="ingredient-group" id="sauces">
                <h3>Selecciona tu fruta:</h3>
                <div th:each="ingredient : ${fruta}">
                  <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                  <span th:text="${ingredient.name}">INGREDIENTE</span><br/>
                </div>          
            </div>

        </div>
        <div>
            <h3>Nombra a tu pizza:</h3>
            <input type="text" th:field="*{name}" />
            <br/>
            <button>Envía tu pizza</button>
        </div>
    </form>
  </body>
</html>